h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: #c7c7c7;
  letter-spacing: 0.02em;
  background-color: #0a0a0a;
  transition: background-color 0.3s, color 0.3s;

  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #c7c7c7;
}

a,
button,
input,
input::placeholder {
  transition-duration: 250ms;
  transition-property: color, background-color, border, box-shadow, visibility,
    opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
  padding: 0px 16px;
}

section {
  padding: 64px 0px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0px 20px;
    max-width: 768px;
  }

  section {
    padding: 40px 0px;
  }

  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  section {
    padding: 50px 0px;
  }
}
/* хеадер початок */

.header-container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* justify-content: space-between;
  gap: 100px; */
}

.header-ul {
  display: flex;
  gap: 10px;
  display: none;
}

.logo {
  padding: 20px 0;
}

.burger-menu {
  background-color: transparent;
}

.burger-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke-width: 2px;
  stroke: #c7c7c7;
}

@media screen and (min-width: 768px) {
  .header-ul {
    display: flex;
  }
}

/* хеадер кінець */

/* about-me початок */

.about-me-container {
  flex-direction: column;
  gap: 12px;
  text-align: left;
  align-items: flex-start;
  color: #fff;
}

.about-me-h {
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 57px;
  line-height: 1;
}

.about-me-p {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
}

.about-me-p-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
  margin-bottom: 28px;
}

.button-a-a {
  display: flex;
  justify-content: space-between;
  /* gap: 12px; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-me-button {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  padding: 0px 4px 0px 16px;
  width: 212px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #0a0a0a;
  background-color: #d3e97a;
}

/* .icon-wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
} */

.about-me-svg {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  fill: #fff;
  background-color: #0a0a0a;
}

.about-me-a {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-svg-link {
  fill: #d3e97a;
}

/* about-me кінець */

/* foto початок */

.my-foto {
  border-radius: 8px;
  min-width: 100%;
}

/* foto кінець */

/* capabilitier початок */

.capabilities {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
}

.capabilities-container {
  flex-direction: column;
  gap: 12px;
  text-align: left;
  align-items: flex-start;
}

.capabilities-p {
  margin-bottom: 12px;
}

.capabilities-h {
  font-weight: 400;
  font-size: 43px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.capabilities-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
}

.capabilities-ul {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.capabilities-li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #484848;
  border-radius: 100px;
  padding: 16px 24px;
  /* width: 87px;
  height: 46px; */
}

/* capabilities кінець */

/* experience початок */

.experience {
  font-weight: 400;
  font-size: 43px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.experience-section {
  text-align: left;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.experience-h {
  margin-bottom: 32px;
}

.experience-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 4px;
}

.experience-p-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
  margin-bottom: 12px;
}

.experience-p-two-two {
  margin-bottom: 40px;
}

.experience-p-three {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
}

.experience-p-three {
  margin-bottom: 4px;
}

.experience-p-four {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
}

.experience-p-four-four {
  margin-bottom: 4px;
}

.experience-p-five {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #d3e97a;
  margin-bottom: 12px;
}

/* experience кінець */

/* portfolio початок */

.portfolio-container {
  flex-direction: column;
  gap: 30px;
  font-weight: 400;
  font-size: 43px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.container-section-four-ul-project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.project-list-h3,
.container-section-four-p {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 4px;
}

.project-list-p-opis,
.container-section-four-li,
.container-section-four-a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
  margin-bottom: 12px;
}

.container-section-four-a {
  display: flex;
  align-items: center;
  gap: 30px;
}

.img {
  border-radius: 8px;
}

/* portfolio кінець */

/* connect початок */

.connect-container {
  flex-direction: column;
  gap: 20px;
  font-family: "Bebas Neue", sans-serif;
}

.connect-container-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.connect-container-one-h {
  font-weight: 400;
  font-size: 43px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.connect-container-one-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
}

.connect-svg {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.connect-span-resume,
.connect-span-a {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

.about-me-svg-link-connect {
  fill: #d3e97a;
}

.connect-container-two {
  width: 100%;
}

.modal-form {
  display: flex;
  flex-direction: column;
  text-align: left;

  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
  font-family: "Manrope", sans-serif;
}

.div-comment {
  display: flex;
  flex-direction: column;
}

.modal-input {
  height: 30px;
  margin-bottom: 14px;
}

.modal-textarea {
  height: 120px;
  margin-bottom: 24px;
}

.modal-button {
  border-radius: 100px;
  padding: 20px 40px;
  width: 140px;
  height: 54px;
  background: #d3e97a;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #0a0a0a;
}

/* connect кінець */
/* footer початок */
.container_footer-p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #c7c7c7;
}
/* footer кінець */
